@{
    ViewBag.Title = "Home Page";
}

@model Capstone.Models.OrderModel


<html>
<body>

    <div class=" page-header">
        <div class=" btn-toolbar pull-right">
            <div class=" btn-group">
                @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                {
                    <button type="button" class=" eButton">Edit Form</button>
                }
            </div>
        </div>
        <h2>Order Form</h2>
    </div>



    <form>
        <div id="HomePage">
            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Number:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.AccountNbr, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AccountNbr)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Name 1:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.AccountName1, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AccountName1)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Name 2:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.AccountName2, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AccountName2)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">First Name:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Fname, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Fname)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Last Name:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Lname, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Lname)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">ID Number:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.IDNbr, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IDNbr)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Holder Type:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.HolderType, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HolderType)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Neutron:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Neutron, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Neutron)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Barcode:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.BarCode, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BarCode)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Wear Location:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.WLocation, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.WLocation)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Use Period Description:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.UPD, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UPD)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Series Name:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Sname, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Sname)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Customer Key:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.CustomerKey, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CustomerKey)
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="ClipType" class="col-sm-2 col-form-label col-form-label-sm">Clip Type:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select class="form-control form-control-sm">
                            <option value="SL"> SL- Slotted Clip</option>
                            <option value="AL">AL- Alligator Clip</option>
                        </select>
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Series Color:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select class="form-control form-control-sm">
                            <option value="BL"> BL- Blue </option>
                            <option value="GR">GR - Green</option>
                            <option value="LB">LB - Light Blue</option>
                            <option value="NO">NO - None</option>
                            <option value="OR">OR - Orange</option>
                            <option value="PP">PP - Purple</option>
                            <option value="RD">RD - Red</option>
                        </select>
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Frequency Color:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select class="form-control form-control-sm">
                            <option value="BL"> BL- Blue </option>
                            <option value="GR">GR - Green</option>
                            <option value="LB">LB - Light Blue</option>
                            <option value="NO">NO - None</option>
                            <option value="OR">OR - Orange</option>
                            <option value="PP">PP - Purple</option>
                            <option value="RD">RD - Red</option>
                        </select>
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div style=" margin-top:5px"></div>

            <div class=" form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Badge Use:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select class="form-control form-control-sm">
                            <option value="PA"> PA- Participant </option>
                            <option value="AR">AR - Area Monitor</option>
                            <option value="CO">CO - Control</option>
                        </select>
                        <span class="input-group-btn">
                            @if (new string[] { "Bogey@email.com", "user2", "user3" }.Contains(this.User.Identity.Name))
                            {
                                <button class="btn btn-default" type="button">Edit Field</button>
                            }
                        </span>
                    </div>
                </div>
            </div>



        </div>
        <div id="buttonHolder">
            <input type="submit" id="btn_s" value="Submit" title="Submit">
        </div>

    </form>

</body>

</html>
