@model Capstone.Models.OrderModel

@{
    ViewBag.Title = "Edit";
}

<h2>Clone Form</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    foreach (var item in Model)
    {

    }
    <div class="form-horizontal">
        <h4>OrderModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.orderId)

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Number:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AccountNbr)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Name 1:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AccountName1)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Account Name 2:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AccountName2)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">First Name:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Fname)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Last Name:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Lname)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">ID Number:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.IDNbr)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Holder Type:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.HolderType)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Neutron:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Neutron)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Wear Location:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.WLocation)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Use Purpose Description:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UPD)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Series Name:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Sname)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Clip Type:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ClipType)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Series Color:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.SeriesColor)
            </div>
        </div>

        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Freqency Color:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FreqColor)
            </div>
        </div>


        <div class="form-group">
            <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Badge Use:</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.BadgeUse)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Clone", "Clone") 
            </div>
        </div>
    </div>
}

<div>
    
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
